.footer{
   margin-top: 150px;
   padding-top: 50px;
   min-height: 300px;
   background-color: $colorBlue;
   color: #fff;
}
.footer__main{
   padding-top: 40px;
}
.footer__list>*:not(:last-child),
.footer__contacts>*:not(:last-child){
   padding-bottom: 20px;
}
.footer__contacts{
   padding-left: 170px;
}
.social{
   display: flex;
   align-items: center;
}
.social>*:not(:last-child){
   padding-right: 20px;
}
.copy{
   align-self: end;
   padding-top: 20px;
}