.header-content{
   background-color: $colorBlue;
   color: #fff;
   min-height: 829px;
   background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 1440 308' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M979.909 44.407C1121.94-13.85 1357.15-2.522 1457 10.424V292H-511V83.853c21.021-13.148 101.313-39.446 254.311-39.446 191.248 0 365.359 75.857 568.945 115.301 203.586 39.445 490.115-42.48 667.653-115.3z' fill='%23666EA0'/%3E%3Cpath d='M336.576 90.085C227.743 38.81 47.512 48.78-29 60.175V308h1508V124.802c-16.11-11.572-77.63-34.718-194.87-34.718-146.54 0-279.96 66.765-435.958 101.481-156 34.717-375.556-37.388-511.596-101.48z' fill='%23fff'/%3E%3C/svg%3E");
   background-repeat: no-repeat;
   background-position: bottom -1px right 0;
   padding: 100px 0 0 0;
}
.header-content__whale-top{
   position: absolute;
   top: -130px;
   left: -135px;
}
.header-content__whale-bottom{
   position: absolute;
   top: 90px;
   right: -180px;
   transform: rotate(-16deg);
}
.header-content-main{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.header-content-main > *:not(:last-child){
   padding-bottom: 50px;
}
.header-content__title{
   max-width: 648px;
}
.header-content__btn-list > *:not(:last-child){
   margin-right: 20px;
}
.header-content__btn--white{
   padding: 16px 35px;
}
.header-content__btn--inherit{
   border: 3px solid #FFFFFF;
   font-size: $f18;
   padding: 13px 25px;
}
@media (max-width: 1024px) {
   .header-content{
      min-height: 529px;
      padding-top: 60px;
   }
   .header-content__whale-top,
   .header-content__whale-bottom{
      display: none;
   }
}
@media (max-width: 768px) {
   .header-content{
      min-height: 529px;
      padding-top: 40px;
   }
}
@media (max-width: 480px){
   .header-content__btn-list{
      flex-wrap: wrap;
      justify-content: center;
   }
   .header-content__btn-list > *:not(:last-child){
      margin-bottom: 20px;
      margin-right: 0;
   }
   .header-content__btn--white,
   .header-content__btn--inherit{
      width: 70vw;
   }
}