.header{
   position: sticky;
   top: 0;
   z-index: 1000;
   padding: 10px 0;
   width: 100vw;
   background-color: $colorBlue;
   color: #fff;
}
.header-hat{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.burger{
   display: none;
   background-color: transparent;
}
.menu{
   margin-right: -10px;
}
.menu__list{
   display: flex;
}
.menu__list-item-link{
   margin: 0 10px;
   line-height: 122%;
}
@media (max-width: 768px) {
   .logo-link{
      margin: 0 auto 0 0;
   }
   .menu{
      margin-right: 0;
   }
   .menu__list>li:not(.sign-in){
      display: none;
   }
   .burger{
      display: block;
   }
}