.skill{
}
.skill__list{
   display: grid;
   justify-content: center;
   max-width: 100%;
   padding-top: 100px;
   grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));
   gap: 60px 111px;
}
.skill__item{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   background-color: $colorGray;
   border-radius: 30px;
   padding: 45px 20px;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.skill__item > *:not(:last-child){
   padding-bottom: 30px;
}
.skill__text{
   max-width: 419px;
}
.skill__btn{
   font-size: $f24;
   padding: 21px 73px;
}
.skill__btn:hover{
   box-shadow: 0px 0px 15px $colorBlack;
}