.biz__text{
   padding-top: 24px;
   max-width: 575px;
}
.video{
   position: relative;
   margin-top: 80px;
}
.btn-play{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   padding: 32px 33px 32px 33px;
   position: absolute;
   top: 40%;
   right: 43%;
   z-index: 1;
}
.biz-video{
   width: 100%;
   max-width: 972px;
   border-radius: 30px;
   backdrop-filter: blur(20px);
}
@media (max-width: 1024px) {
   .play{
      width: 40px;
      height: 40px;
   }
	.btn-play{
      padding: 26px 25px 24px 25px;
   }
}
@media (max-width: 640px) {
   .play{
      width: 25px;
      height: 25px;
   }
	.btn-play{
      padding: 15px 15px 15px 15px;
   }
}