$f10: 10px;
$f14: 14px;
$f18: calc(16px + 2 * ((100vw - 320px) / (1920 - 320)));
$f24: calc(18px + 6 * ((100vw - 320px) / (1920 - 320)));
$f36: calc(24px + 12 * ((100vw - 320px) / (1920 - 320)));
$f40: calc(24px + 16 * ((100vw - 320px) / (1920 - 320)));
$f48: calc(36px + 19 * ((100vw - 320px) / (1920 - 320)));
$f55: calc(36px + 19 * ((100vw - 320px) / (1920 - 320)));
