.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}
:root{
	font-size: 10px;
}
html,
body {
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: $f18;
	font-weight: 500;
}
.container{
   @include container('1180px', '10px');
}
h1,h2,h3,h4{
	font-family: 'Intro', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.04em;
}
h1{
	font-size: $f55;
}
a{
	transition: all 0.3s ease 0s;
}
a:hover{
	text-shadow: 0px 0px 20px #fff;
}
.btn{
	border-radius: 30px;
	transition: all 0.3s ease 0s;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.btn:hover{
	box-shadow: 0px 0px 20px #fff;
}
.--btn-white{
	background-color: #fff;
	color: $colorBlue;
	font-size: $f18;
}
.--btn-blue{
	background-color: $colorBlue;
	color: #fff;
}