.--svg__header-fon,.--svg__header-fon-before::before,.--svg__header-fon-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 1440 308' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M979.909 44.407C1121.94-13.85 1357.15-2.522 1457 10.424V292H-511V83.853c21.021-13.148 101.313-39.446 254.311-39.446 191.248 0 365.359 75.857 568.945 115.301 203.586 39.445 490.115-42.48 667.653-115.3z' fill='%23666EA0'/%3E%3Cpath d='M336.576 90.085C227.743 38.81 47.512 48.78-29 60.175V308h1508V124.802c-16.11-11.572-77.63-34.718-194.87-34.718-146.54 0-279.96 66.765-435.958 101.481-156 34.717-375.556-37.388-511.596-101.48z' fill='%23fff'/%3E%3C/svg%3E");
}
.--svg__header-fon-before::before {
    content:'';
}
.--svg__header-fon-after::after {
    content:'';
}
.--svg__left,.--svg__left-before::before,.--svg__left-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='42' height='63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 31.5L31.294 0 42 10.61 21.247 31.5 42 52.39 31.294 63 0 31.5z' fill='%232B3990'/%3E%3C/svg%3E");
}
.--svg__left-before::before {
    content:'';
}
.--svg__left-after::after {
    content:'';
}
.--svg__logo,.--svg__logo-before::before,.--svg__logo-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 138 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.008 42.163a3.015 3.015 0 01-2.127-.877A2.987 2.987 0 010 39.17V4.45c0-.795.317-1.557.88-2.119a3.018 3.018 0 012.128-.879c.798.001 1.563.317 2.127.88a2.99 2.99 0 01.881 2.118v13h24.012v-13c0-.795.317-1.557.881-2.119a3.018 3.018 0 014.257 0 2.99 2.99 0 01.882 2.119v34.718c-.001.794-.319 1.556-.883 2.117a3.018 3.018 0 01-4.255 0 2.987 2.987 0 01-.882-2.117V23.436H6.016V39.17c0 .794-.317 1.556-.88 2.117a3.015 3.015 0 01-2.128.877zM79.162 34.867a21.823 21.823 0 01-7.925 6.468 21.927 21.927 0 01-19.919-.469 21.809 21.809 0 01-7.609-6.834 3.06 3.06 0 01.935-4.372 3.094 3.094 0 011.594-.445 3.124 3.124 0 012.56 1.365c.551.793 1.172 1.536 1.857 2.218a15.657 15.657 0 005.09 3.401 15.714 15.714 0 0012.02 0 15.657 15.657 0 005.09-3.4c.5-.534.983-1.082 1.424-1.652a2.996 2.996 0 012.614-1.178h.056c.55.043 1.078.233 1.529.55a3.05 3.05 0 01.684 4.35zM56.54.595c-7.13 1.624-14.398 8.872-16.042 15.97a23.153 23.153 0 00-.591 4.845 2.262 2.262 0 00.651 1.634 2.282 2.282 0 001.627.681l9.178.06h30.192a2.058 2.058 0 001.444-.598c.384-.381.6-.898.603-1.437C83.602 8.02 70.915-2.683 56.54.595zm-9.978 17.2a15.849 15.849 0 014.09-7.095 15.656 15.656 0 015.09-3.4 15.714 15.714 0 0112.021 0 15.657 15.657 0 015.09 3.4 15.874 15.874 0 014.088 7.096H46.56zM107.682 39.315a2.845 2.845 0 01-.84 2.014 2.87 2.87 0 01-2.024.834H90.466a2.824 2.824 0 01-1.992-.821 2.798 2.798 0 01-.826-1.983V4.507c0-.81.324-1.587.899-2.16a3.075 3.075 0 014.338 0c.575.573.899 1.35.899 2.16v31.951h11.04a2.882 2.882 0 012.024.84 2.85 2.85 0 01.834 2.017zM133.618 5.814a14.69 14.69 0 013.258 4.822A14.615 14.615 0 01138 16.34a14.821 14.821 0 01-4.382 10.47c-2.749 2.847-6.545 4.302-10.577 4.302h-5.14v8.083c0 .756-.301 1.48-.838 2.015a2.87 2.87 0 01-2.023.836h-.41c-.76 0-1.488-.3-2.025-.835a2.841 2.841 0 01-.839-2.016V4.156a2.7 2.7 0 01.795-1.912 2.725 2.725 0 011.922-.793h8.558a14.814 14.814 0 015.731 1.119 14.76 14.76 0 014.846 3.244zm-1.822 9.036c-.72-4.287-4.573-7.36-8.943-7.36h-4.952v17.515h5.14c5.337 0 9.682-4.646 8.743-10.145l.012-.01z' fill='%23fff'/%3E%3C/svg%3E");
}
.--svg__logo-before::before {
    content:'';
}
.--svg__logo-after::after {
    content:'';
}
.--svg__magic,.--svg__magic-before::before,.--svg__magic-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='152' height='134' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M68.984 1.684a15 15 0 0113.81 0l60.888 31.572a15 15 0 018.095 13.316v30.816a5.42 5.42 0 11-10.841 0V52.872l-57.763 32.09a15 15 0 01-14.569 0L4.04 49.092a7.854 7.854 0 01.199-13.838L68.984 1.684zm50.27 50.832l10.841-6.023 7.514-4.175-61.72-32.003-61.72 32.003 7.514 4.175 10.84 6.023L75.89 76.609l43.365-24.093zm-43.365 70.149l37.944-21.344v-19.36a5.42 5.42 0 012.788-4.739c3.613-2.007 8.053.605 8.053 4.739v19.852a9.999 9.999 0 01-5.097 8.716l-38.786 21.817a10.002 10.002 0 01-9.805 0L32.2 110.529a10 10 0 01-5.097-8.716V81.96c0-4.133 4.44-6.745 8.053-4.738a5.42 5.42 0 012.788 4.739v19.36l37.945 21.344z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0' y1='11.604' x2='132.5' y2='134.104' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A3993'/%3E%3Cstop offset='1' stop-color='%23727EC9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}
.--svg__magic-before::before {
    content:'';
}
.--svg__magic-after::after {
    content:'';
}
.--svg__play,.--svg__play-before::before,.--svg__play-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='60' height='69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60 34.5L.75 68.708V.292L60 34.5z' fill='%23C4C4C4'/%3E%3C/svg%3E");
}
.--svg__play-before::before {
    content:'';
}
.--svg__play-after::after {
    content:'';
}
.--svg__right,.--svg__right-before::before,.--svg__right-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='42' height='63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42 31.5L10.706 0 0 10.61 20.753 31.5 0 52.39 10.706 63 42 31.5z' fill='%232B3990'/%3E%3C/svg%3E");
}
.--svg__right-before::before {
    content:'';
}
.--svg__right-after::after {
    content:'';
}
.--svg__skill2,.--svg__skill2-before::before,.--svg__skill2-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='139' height='140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M69.5 0c-1.833 0-3.642.427-5.256 1.247l-.004.003L5.572 31.306a10.535 10.535 0 00-3.74 3.188l-.006.005-.096.138-.028.04c-.044.062-.113.16-.176.257l-.009.012a1.739 1.739 0 00-.1.164l-.01.018A9.408 9.408 0 000 40.048v59.897a9.442 9.442 0 001.516 5.1c.986 1.535 2.39 2.787 4.056 3.642l.001.001 58.667 30.055.007.004a11.49 11.49 0 004.572 1.21c.21.025.42.04.63.043H69.518a6.04 6.04 0 00.686-.044 11.507 11.507 0 004.55-1.209l.006-.004 58.668-30.056c1.666-.855 3.071-2.107 4.057-3.642a9.437 9.437 0 001.516-5.1V40.047a9.383 9.383 0 00-1.22-4.602v-.011l-.145-.238-.057-.093-.016-.03-.021-.036a2.309 2.309 0 00-.077-.12c-.984-1.523-2.382-2.764-4.038-3.613L74.759 1.25l-.004-.003A11.614 11.614 0 0069.5 0zm52.595 37.23L69.5 10.287 49.035 20.769l53.213 26.73 19.847-10.269zM90.797 53.425l-53.27-26.759-20.535 10.52L70.107 64.13l20.69-10.706zM128 45.933v53.803l-52.915 27.11.519-53.801L96.68 62.138v22.74c0 1.412.617 2.734 1.662 3.686 1.04.947 2.423 1.458 3.838 1.458 1.416 0 2.799-.511 3.839-1.458 1.044-.951 1.661-2.273 1.661-3.685V56.446L128 45.933zM11 99.736V45.85l53.603 27.193-.52 53.889L11 99.736z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0' y1='12.157' x2='136.144' y2='122.185' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A3993'/%3E%3Cstop offset='1' stop-color='%23727EC9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}
.--svg__skill2-before::before {
    content:'';
}
.--svg__skill2-after::after {
    content:'';
}
.--svg__union,.--svg__union-before::before,.--svg__union-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='152' height='134' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M68.984 1.684a15 15 0 0113.81 0l60.888 31.572a15 15 0 018.095 13.316v30.816a5.42 5.42 0 11-10.841 0V52.872l-57.763 32.09a15 15 0 01-14.569 0L4.04 49.092a7.854 7.854 0 01.199-13.838L68.984 1.684zm50.27 50.832l10.841-6.023 7.514-4.175-61.72-32.003-61.72 32.003 7.514 4.175 10.84 6.023L75.89 76.609l43.365-24.093zm-43.365 70.149l37.944-21.344v-19.36a5.42 5.42 0 012.788-4.739c3.613-2.007 8.053.605 8.053 4.739v19.852a9.999 9.999 0 01-5.097 8.716l-38.786 21.817a10.002 10.002 0 01-9.805 0L32.2 110.529a10 10 0 01-5.097-8.716V81.96c0-4.133 4.44-6.745 8.053-4.738a5.42 5.42 0 012.788 4.739v19.36l37.945 21.344z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0' y1='11.604' x2='132.5' y2='134.104' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A3993'/%3E%3Cstop offset='1' stop-color='%23727EC9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}
.--svg__union-before::before {
    content:'';
}
.--svg__union-after::after {
    content:'';
}