<header class="header">
   <div class="container">
      <div class="header-hat">
         <a class="logo-link" href="#">
            @@include('../bem-blocks/_sprite.html',{
               "class":"logo",
               "width":"width: 138px;",
               "height":"height: 43.5px;",
               "id":"css--logo",
            })
         </a>
         <nav class="menu">
            <ul class="menu__list">
               <div class="menu__list-item">
                  <a class="menu__link" href="#">
                     Продукты
                  </a>
               </div>
               <li class="menu__list-item">
                  <a class="menu__link" href="#">
                     Обучение
                  </a>
               </li>
               <li class="menu__list-item">
                  <a class="menu__link" href="#">
                     Для бизнеса
                  </a>
               </li>
            </ul>
            <div class="social--menu">
               <a class="social__link--menu" href="telegram.com">
                  @@include('../bem-blocks/_sprite.html',{
                     "class":"tg",
                     "width":"width: 35px;",
                     "height":"height: 29px;",
                     "id":"css--tg",
                  })
               </a>
               <a class="social__link--menu" href="instagram.com">
                  @@include('../bem-blocks/_sprite.html',{
                     "class":"insta",
                     "width":"width: 35px;",
                     "height":"height: 35px;",
                     "id":"css--insta",
                  })
               </a>
               <a class="social__link--menu" href="facebook.com">
                  @@include('../bem-blocks/_sprite.html',{
                     "class":"facebook",
                     "width":"width: 35px;",
                     "height":"height: 35px;",
                     "id":"css--facebook",
                  })
               </a>
               <a class="social__link--menu" href="vk.com">
                  @@include('../bem-blocks/_sprite.html',{
                     "class":"vk",
                     "width":"width: 35px;",
                     "height":"height: 20px;",
                     "id":"css--vk",
                  })
               </a>
            </div>
         </nav>
         <div class="sign-in">
            <a class="sign-in__link popup-link" href="#popup">
               Войти
            </a>
         </div>
         <button class="burger">
            <!-- @@include('../bem-blocks/_sprite.html',{
               "class":"burger-svg",
               "width":"width: 35px;",
               "height":"height: 15px;",
               "id":"css--burger",
            }) -->
         </button>
      </div>
   </div>
</header>
