<header class="header">
   <div class="container">
      <div class="header-hat">
         <a class="logo-link" href="#">
            @@include('../bem-blocks/_sprite.html',{
               "class":"logo",
               "width":"width: 138px;",
               "height":"height: 43.5px;",
               "id":"css--logo",
            })
         </a>
         <nav class="menu">
            <ul class="menu__list">
               <li class="menu__list-item">
                  <a class="menu__list-item-link" href="#">
                     Продукты
                  </a>
               </li>
               <li class="menu__list-item">
                  <a class="menu__list-item-link" href="#">
                     Обучение
                  </a>
               </li>
               <li class="menu__list-item">
                  <a class="menu__list-item-link" href="#">
                     Для бизнеса
                  </a>
               </li>
               <li class="sign-in menu__list-item">
                  <a class="menu__list-item-link" href="#">
                     Войти
                  </a>
               </li>
            </ul>
         </nav>
         <button class="burger">
            @@include('../bem-blocks/_sprite.html',{
               "class":"burger-svg",
               "width":"width: 30px;",
               "height":"height: 12px;",
               "id":"css--burger",
            })
         </button>
      </div>
   </div>
</header>
