<section class="people wrapper">
   <div class="container">
      <div class="people__info">
         <h2 class="title">
            наша КОМАНДА ПО СПАСЕНИЮ МИРА
         </h2>
         <p class="text people__text">
            Это те люди, которые помогут тебе стать лучше.
         </p>
      </div>
      <div class="slider">
         <div class="slider__item">
            <img src="./../../img/man1.jpg" alt="man">
            <h4 class="slider__title">
               Иван Иванов
            </h4>
            <h5 class="slider__subtitle">
               Куратор
            </h5>
         </div>
         <div class="slider__item">
            <img src="./../../img/man2.jpg" alt="man">
            <h4 class="slider__title">
               Иван Иванов
            </h4>
            <h5 class="slider__subtitle">
               Куратор
            </h5>
         </div>
         <div class="slider__item">
            <img src="./../../img/man3.jpg" alt="man">
            <h4 class="slider__title">
               Иван Иванов
            </h4>
            <h5 class="slider__subtitle">
               Куратор
            </h5>
         </div>
         <div class="slider__item">
            <img src="./../../img/man4.jpg" alt="man">
            <h4 class="slider__title">
               Иван Иванов
            </h4>
            <h5 class="slider__subtitle">
               Куратор
            </h5>
         </div>
         <div class="slider__item">
            <img src="./../../img/man1.jpg" alt="man">
            <h4 class="slider__title">
               Иван Иванов
            </h4>
            <h5 class="slider__subtitle">
               Куратор
            </h5>
         </div>
         <div class="slider__item">
            <img src="./../../img/man2.jpg" alt="man">
            <h4 class="slider__title">
               Иван Иванов
            </h4>
            <h5 class="slider__subtitle">
               Куратор
            </h5>
         </div>
         <div class="slider__item">
            <img src="./../../img/man3.jpg" alt="man">
            <h4 class="slider__title">
               Иван Иванов
            </h4>
            <h5 class="slider__subtitle">
               Куратор
            </h5>
         </div>
         <div class="slider__item">
            <img src="./../../img/man4.jpg" alt="man">
            <h4 class="slider__title">
               Иван Иванов
            </h4>
            <h5 class="slider__subtitle">
               Куратор
            </h5>
         </div>
      </div>
   </div>
</section>