<section class="people">
   <div class="container --people">
      <h2 class="title">
         наша КОМАНДА ПО СПАСЕНИЮ МИРА
      </h2>
      <p class="text people__text">
         Это те люди, которые помогут тебе стать лучше.
      </p>
      <div class="slider">
         <div class="slider__item">
            <img src="./../../img/men1.jpg" alt="men">
            <h4 class="slider__title">
               Иван Иванов
            </h4>
            <h5 class="slider__subtitle">
               Куратор
            </h5>
         </div>
         <div class="slider__item">
            <img src="./../../img/men2.jpg" alt="men">
            <h4 class="slider__title">
               Иван Иванов
            </h4>
            <h5 class="slider__subtitle">
               Куратор
            </h5>
         </div>
         <div class="slider__item">
            <img src="./../../img/men3.jpg" alt="men">
            <h4 class="slider__title">
               Иван Иванов
            </h4>
            <h5 class="slider__subtitle">
               Куратор
            </h5>
         </div>
         <div class="slider__item">
            <img src="./../../img/men4.jpg" alt="men">
            <h4 class="slider__title">
               Иван Иванов
            </h4>
            <h5 class="slider__subtitle">
               Куратор
            </h5>
         </div>
      </div>
   </div>
</section>