<div class="popup" id="popup-login">
   <div class="popup__body">
      <div class="popup__content">
         <button class="popup__close close-popup no-btn btn-close">
            @@include('../bem-blocks/_sprite.html',{
               "class":"close",
               "width":"width: 25px;",
               "height":"height: 20px;",
               "id":"css--close",
            })
         </button>
         <form class="popup__form flex --dir-col" action="#">
            <h4 class="popup__title">
               Войти в аккаунт
            </h4>
            <div class="popup__form-item">
               <label class="popup__subtitle f14_17" for="">
                  Логин или e-mail:
               </label>
               <input class="popup__input popup__subtitle f14_17" tabindex="1" type="text" placeholder="Логин или e-mail">
            </div>
            <div class="popup__form-item">
               <div class="password__label">
                  <label class="popup__subtitle f14_17" for="">
                     Пароль:
                  </label>
                  <a class="popup__forgot f14_17 link" href="#">
                     Забыли пароль?
                  </a>
               </div>
               <input class="popup__input popup__subtitle f14_17" tabindex="2" type="password" placeholder="********">
            </div>
            <div class="checkbox flex">
               <input class="checkbox__input" tabindex="3" checked type="checkbox" name="forgot" id="forgot" value="yes"/>
               <label for="forgot" class="checkbox__subtitle popup__text">
                  Запомнить пароль
               </label>
            </div>
            <p class="popup__text">
               Нажимая войти, я принимаю условия <a class="link" href="#">Политики конфиденциальности</a> и даю согласие на обработку своих персональных данных
            </p>
            <button class="popup__form-btn sign-in__btn" tabindex="4">
               Войти
            </button>
            <a class="popup__transition f14_17 popup-link link" href="#popup-reg">
               Регистрация
            </a>
         </form>
      </div>
   </div>
</div>
<div class="popup" id="popup-reg">
   <div class="popup__body">
      <div class="popup__content">
         <button class="popup__close close-popup no-btn btn-close">
            @@include('../bem-blocks/_sprite.html',{
               "class":"close",
               "width":"width: 25px;",
               "height":"height: 20px;",
               "id":"css--close",
            })
         </button>
         <form class="popup__form flex --dir-col" action="#">
            <h4 class="popup__title">
               Регистрация
            </h4>
            <div class="popup__form-item">
               <label class="popup__subtitle f14_17" for="">
                  Логин:
               </label>
               <input class="popup__input popup__subtitle f14_17" tabindex="1" type="text" placeholder="Логин">
            </div>
            <div class="popup__form-item">
               <label class="popup__subtitle f14_17" for="">
                  E-mail:
               </label>
               <input class="popup__input popup__subtitle f14_17" tabindex="2" type="text" placeholder="e-mail">
            </div>
            <div class="popup__form-item">
               <label class="popup__subtitle f14_17" for="">
                  Пароль:
               </label>
               <input class="popup__input popup__subtitle f14_17" tabindex="3" type="password" placeholder="********">
            </div>
            <div class="popup__form-item">
               <label class="popup__subtitle f14_17" for="">
                  Повторите пароль:
               </label>
               <input class="popup__input popup__subtitle f14_17" tabindex="4" type="password" placeholder="********">
            </div>
            <div class="popup__form-item">
               <label class="popup__subtitle f14_17" for="">
                  Фамилия:
               </label>
               <input class="popup__input popup__subtitle f14_17" tabindex="5" type="text" placeholder="Фамилия">
            </div>
            <div class="popup__form-item">
               <label class="popup__subtitle f14_17" for="">
                  Имя:
               </label>
               <input class="popup__input popup__subtitle f14_17" tabindex="6" type="text" placeholder="Имя">
            </div>
            <div class="checkbox flex">
               <input class="checkbox__input" tabindex="7" checked type="checkbox" name="agree" id="agree" value="yes"/>
               <label for="agree" class="checkbox__subtitle">
                  <p class="popup__text">
                     Я ознакомлен с <a class="link" href="#">правилами сервиса</a>, принимаю условия <a class="link" href="#">Политики конфиденциальности</a> и даю согласие на обработку своих данных
                  </p>
               </label>
            </div>
            <button class="popup__form-btn reg__btn" tabindex="8">
               Зарегистрироваться
            </button>
            <a class="popup__transition f14_17 popup-link link" href="#popup-login">
               Войти
            </a>
         </form>
      </div>
   </div>
</div>