<section class="skill wrapper">
   <div class="container flex --dir-col --align-center">
      <h2 class="title">
         ЧТО МЫ УМЕЕМ
      </h2>
      <div class="skill__list">
         <div class="skill__item">
            <img src="./../../img/skill1.svg" alt="">
            <h3 class="skill__title">
               Обучаем
            </h3>
            <p class="text skill__text">
               Поможем создать бизнес с нуля и заставим его приносить прибыль
            </p>
            <a class="btn --btn-blue skill__btn" href="#">
               Научиться
            </a>
         </div>
         <div class="skill__item">
            <img src="./../../img/skill2.svg" alt="">
            <h3 class="skill__title">
               развиваем
            </h3>
            <p class="text skill__text">
               Бизнес всегда находится в динамике. Сделаем динамику твоего дела положительной, а результаты – максимальными
            </p>
            <a class="btn --btn-blue skill__btn" href="#">
               Упаковаться
            </a>
         </div>
      </div>
   </div>
</section>