<section class="skill">
   <div class="container flex --dir-col --align-center">
      <h2 class="title">
         ЧТО МЫ УМЕЕМ
      </h2>
      <div class="skill__list">
         <div class="skill__item">
            @@include('../bem-blocks/_sprite.html',{
               "class":"union",
               "width":"width: 150px;",
               "height":"height: 130px;",
               "id":"css--union",
            })
            <h3 class="skill__title">
               Обучаем
            </h3>
            <p class="text skill__text">
               Поможем создать бизнес с нуля и заставим его приносить прибыль
            </p>
            <button class="btn skill__btn">
               Научиться
            </button>
         </div>
      </div>
   </div>
</section>