<section class="biz">
   <div class="--container-972">
      <h2 class="title">
         БИЗНЕС МНОГОГРАНЕН
      </h2>
      <p class="text biz__text">
         Поэтому мы создали команду специалистов из самых разных сфер.
      </p>
      <div class="video">
         <button class="btn btn-play">
            @@include('../bem-blocks/_sprite.html',{
               "class":"play",
               "width":"max-width: 50px;",
               "height":"max-height: 50px;",
               "id":"css--play",
            })
         </button>
         <video class="biz-video" src="" poster="/img/video-poster.jpg"></video>
      </div>
   </div>
</section>