<section class="header-content">
   <div class="container">
      <img class="header-content__whale-top" src="img/whale1.webp" />
      <div class="header-content-main">
         <h1 class="header-content__title">Смотрим на мир доходным взглядом</h1>
         <p class="text">
            Есть любимое дело – монетизируем<br />
            Есть любимый бизнес – доведем до совершенства
         </p>
         <div class="header-content__btn-list flex">
            <a class="btn header-content__btn--white --btn-white" href="#">
               Хочу научиться
            </a>
            <a class="btn header-content__btn--inherit --btn-blue" href="#">
               Есть свой бизнес
            </a>
         </div>
      </div>
      <img class="header-content__whale-bottom" src="img/whale2.webp" />
   </div>
</section>
