.footer {
   padding-top: 50px;
   min-height: 300px;
   width: 100%;
   background-color: $colorBlue;
   color: #fff;
}
.footer__main {
   padding-top: 40px;
}
.link {
   text-decoration: underline;
}
.footer__list > *:not(:last-child),
.footer__contacts > *:not(:last-child) {
   padding-bottom: 20px;
}
.footer__contacts {
   padding-left: 170px;
}
.social {
   display: flex;
   align-items: center;
}
.social > *:not(:last-child) {
   padding-right: 20px;
}
.copy {
   align-self: end;
   padding-top: 20px;
}
@media (max-width: 768px) {
   .footer {
      min-height: 265px;
   }
   .footer__main {
      flex-direction: column;
      align-items: start;
      padding: 0;
   }
   .footer__contacts {
      padding: 50px 0 0 0;
   }
   .footer__logo-link,
   .social__mail--footer {
      display: none;
   }
}
