<section class="about wrapper">
   <div class="container">
      <h2 class="">ПОЧЕМУ ИМЕННО МЫ?</h2>
      <div class="about__items">
         <div class="about__item">
            <div class="about__img">
               <img src="img/specialists.svg" alt="specialists" />
            </div>
            <h3 class="--f40">специалисты</h3>
            <p class="text">Лучших не найти</p>
         </div>
         <div class="about__item">
            <div class="about__img">
               <img src="img/experience.svg" alt="specialists" />
            </div>
            <h3 class="--f40">опыт</h3>
            <p class="text">Знаем, что делаем</p>
         </div>
         <div class="about__item">
            <div class="about__img">
               <img src="img/practice.svg" alt="specialists" />
            </div>
            <h3 class="--f40">Практика</h3>
            <p class="text">Учим на деле, а не на слове</p>
         </div>
         <div class="about__item">
            <div class="about__img">
               <img src="img/approach.svg" alt="specialists" />
            </div>
            <h3 class="--f40">Подход</h3>
            <p class="text">Без формальностей и заумных лекций</p>
         </div>
      </div>
   </div>
</section>
