<section class="choice header-content">
   <div class="container flex --dir-col --align-center">
      <h2 class="title --white">ВЫБЕРИ СТОРОНУ СИЛЫ</h2>
      <div class="slider-text swiper">
         <div class="slider-text__body swiper-wrapper">
            <div class="slider-text__item swiper-slide">
               <h3 class="slider-text__title --white">Трейдинг</h3>
               <p class="text text-18">
                  Покажем криптовалюту такой, какой ты ее не видел: никаких
                  рисков, только доходные стратегии от арбитража до собственного
                  обменника
               </p>
               <div class="btn --btn-white">
                  <a class="slider-text__btn-link btn__link" href="#"
                     >Узнать подробнее</a
                  >
               </div>
               <a class="link" href="#">Сразу к делу</a>
            </div>
            <div class="slider-text__item swiper-slide">
               <h3 class="slider-text__title --white">Дизайн</h3>
               <p class="text text-18">
                  Прекрасно выглядит, прекрасно продает. Научим визуализировать
                  бренд, как произведение искусства. Путь от фриланса до
                  собственной студии ближе, чем ты думаешь
               </p>
               <div class="btn --btn-white">
                  <a class="slider-text__btn-link btn__link" href="#"
                     >Узнать подробнее</a
                  >
               </div>
               <a class="link" href="#">Сразу к делу</a>
            </div>
            <div class="slider-text__item swiper-slide">
               <h3 class="slider-text__title --white">Комерческий писатель</h3>
               <p class="text text-18">
                  Словом можно даже убить, не то что продать. Научим всему от
                  азов речевого маркетинга до создания собственных книг и
                  инфопродуктов
               </p>
               <div class="btn --btn-white">
                  <a class="slider-text__btn-link btn__link" href="#"
                     >Узнать подробнее</a
                  >
               </div>
               <a class="link" href="#">Сразу к делу</a>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
         </div>
      </div>
   </div>
</section>
