<section class="people">
   <div class="container">
      <div class="people__info">
         <h2 class="title">наши спикеры</h2>
         <p class="text people__text">Научат всему от «А» до «Я»</p>
      </div>
      <div class="slider">
         <div class="slider__item">
            <img src="img/man1.webp" alt="man" />
            <h4 class="slider__title">Иван Иванов</h4>
            <h5 class="slider__subtitle">Куратор</h5>
         </div>
         <div class="slider__item">
            <img src="img/man2.webp" alt="man" />
            <h4 class="slider__title">Иван Иванов</h4>
            <h5 class="slider__subtitle">Куратор</h5>
         </div>
         <div class="slider__item">
            <img src="img/man3.webp" alt="man" />
            <h4 class="slider__title">Иван Иванов</h4>
            <h5 class="slider__subtitle">Куратор</h5>
         </div>
         <div class="slider__item">
            <img src="img/man4.webp" alt="man" />
            <h4 class="slider__title">Иван Иванов</h4>
            <h5 class="slider__subtitle">Куратор</h5>
         </div>
         <div class="slider__item">
            <img src="img/man1.webp" alt="man" />
            <h4 class="slider__title">Иван Иванов</h4>
            <h5 class="slider__subtitle">Куратор</h5>
         </div>
         <div class="slider__item">
            <img src="img/man2.webp" alt="man" />
            <h4 class="slider__title">Иван Иванов</h4>
            <h5 class="slider__subtitle">Куратор</h5>
         </div>
         <div class="slider__item">
            <img src="img/man3.webp" alt="man" />
            <h4 class="slider__title">Иван Иванов</h4>
            <h5 class="slider__subtitle">Куратор</h5>
         </div>
         <div class="slider__item">
            <img src="img/man4.webp" alt="man" />
            <h4 class="slider__title">Иван Иванов</h4>
            <h5 class="slider__subtitle">Куратор</h5>
         </div>
      </div>
      <div class="people__learn">
         <p class="text people__learn-text">
            Если вы грамотный специалист, который достиг высот в своём деле, мы
            всегда рады сотрудничеству.
         </p>
         <a class="people__learn-btn btn --btn-blue" href="#">Хочу учить</a>
      </div>
   </div>
</section>
