<section class="biz --products__video wrapper">
   <div class="--container-972">
      <h2 class="title">ДЕЛАЕМ ПО-СВОЕМУ</h2>
      <p class="text biz__text --products__video-text">
         Создаем комфортную среду обучения, в которой информация усваивается
         сама собой. Учим на практике – каждое слово находит свое применение.
      </p>
      <div class="video">
         <button class="btn btn-play">
            @@include('../../bem-blocks/_sprite.html',{ "class":"play",
            "width":"max-width: 50px;", "height":"max-height: 50px;",
            "id":"css--play", })
         </button>
         <video class="biz-video" src="" poster="img/video-poster.webp"></video>
      </div>
   </div>
</section>
